<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarafizand.sarafizand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@drawable/zd_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="staging-admin.zandexchange.com"
                    android:pathPrefix="/api/v1/account-verification/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.changePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.ActivitySignUp"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.SplachScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.NotificationListener">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.NewsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.CurrenciesHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ResetPasswordActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="staging-admin.zandexchange.com"
                    android:scheme="http"
                    android:pathPrefix="/api/v1/password/reset_password/" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FavouritesActivity" />
        <activity android:name=".activities.FavouriteDetailsActivity" />
        <activity android:name=".activities.TransactionsHistoryActivity" />
        <activity android:name=".activities.SentAndReceiveHistoryActivity" />
        <activity android:name=".activities.TransactionsHistoryDetailsActivity" />
        <activity android:name=".activities.BookingListActivity" />
        <activity android:name=".activities.NotificationsActivity"></activity>
    </application>

</manifest>